@model List<ProdutoPedido>

<p class="h3">Lista de Carrinho</p>

<div class="row mb-3">
    <div class="text-end">
        <a asp-action="cadastrar" class="btn btn-primary">
            <i class="fa-solid fa-plus"></i> Cadastrar
        </a>
    </div>
</div>
<section id="shopping-cart">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Produtos Pedidos</h4>
                </div>
                <div class="card-content">
                    <div class="card-body table-responsive">
                        <table class="table text-center m-0">
                            <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Pedido</th>
                                    <th>Produto</th>
                                    <th>Quantidade</th>
                                    <th>Valor</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Lugar dos registros da tabela-->
                                @foreach (var produtoPedido in Model)
                                {
                                <td><img src="~/Uploads\Produtos\efda260b-2001-4b2d-831e-4c7e1ff33d2c.jpg" alt="product" style="height: 75px;"></td>
                                <td>@produtoPedido.PedidoId</td>
                                <td>@produtoPedido.Produto.Nome</td>
                                <td>@produtoPedido.Quantidade</td>
                                <td>@produtoPedido.Valor</td>
                                <td>
                                    <a asp-action="apagar" asp-route-id="@produtoPedido.Id" class="btn btn-danger"><i class="ft-trash font-medium-3"></i></a>
                                </td>
                                }
                            </tbody>
                        </table>
