@using Repositorio.Entidades
@model List<Mesa>

@{
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Dev Lanches</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/TemaPublic/assets/img/favicon.png" rel="icon">
    <link href="~/TemaPublic/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/TemaPublic/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/TemaPublic/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/TemaPublic/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/TemaPublic/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/TemaPublic/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/TemaPublic/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/TemaPublic/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/TemaPublic/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Restaurantly - v3.9.0
    * Template URL: https://bootstrapmade.com/restaurantly-restaurant-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<section>
    <a class="h3 position-absolute top-1 start-50 translate-middle">Escolha sua Mesa</a>
    <div class="row menu-container aos-init aos-animate">
        <!-- Lugar dos registros da tabela-->
        @foreach (var mesa in Model)
        {
            @if (mesa.Status == Repositorio.Enums.StatusMesa.Desocupado)
            {
                <div class="col-lg-3 p-3 menu-item filter-starters border-0">
                    <div>
                        <a class="btn btn-success border-0" asp-controller="Cardapio" asp-action="MesaEscolhida" asp-route-id="@mesa.Id">

                            <div class="card card-inverse bg-success border-0">
                                                    <div class="card-content">
                                              <div class="card-body">
                                         <div class="media">
                                             <div class="media-body text-left">
                                                 <h3 class="card-text">@mesa.NumeroMesa</h3>
                                                 <span>@mesa.Status</span>
                                             </div>
                                         </div>
                                     </div>
                                  </div>
                               </div>
                        </a>
                    </div>
                </div>
            }
            else
            {
                <div class="p-3 border-0">
                    <div>
                        <div class="card card-inverse bg-danger border-0">
                            <div class="card-content border-0">
                                <div class="card-body border-0">
                                    <div class="media border-0">
                                        <div class="media-body text-left border-0">
                                            <h3 class="card-text">@mesa.NumeroMesa</h3>
                                            <span>@mesa.Status</span>
                                        </div>
                                        <div class="media-right align-self-center border-0">
                                            <i class="icon-cup font-large-2 float-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

</section>

<script src="~/TemaPublic/assets/vendor/aos/aos.js"></script>
<script src="~/TemaPublic/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/TemaPublic/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="~/TemaPublic/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/TemaPublic/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/TemaPublic/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="~/TemaPublic/assets/js/main.js"></script>