@model List<ProdutoPedido>

<p class="h3">Lista de Carrinho</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Pedido</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <!-- Lugar dos registros da tabela-->
        @foreach (var produtoPedido in Model)
        {
            <tr>

                <td><img src="~/Uploads/Produtos/@produtoPedido.Produto.ProdutoCaminho" alt="product" style="height: 75px;"></td>
                <td>@produtoPedido.PedidoId</td>
                <td>@produtoPedido.Produto.Nome</td>
                <td>@produtoPedido.Quantidade</td>
                <td>@produtoPedido.Valor</td>
                <td>
                    <a asp-action="apagar" asp-route-id="@produtoPedido.Id" class="btn btn-danger"><i class="ft-trash font-medium-3"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@*<div class="buy-now">
    <a asp-action="cadastrar" class="btn btn-danger">
        <i class="fa-solid fa-plus"></i>
    </a>
</div>*@
