@model List<Mesa>

<p class="h3">Lista de Mesas</p>

<div class="row mb-3">
    <div class="text-end">
        <a asp-action="cadastrar" class="btn btn-danger">
            <i class="ft-plus-square"></i> Cadastrar
        </a>
    </div>
</div>

<table class="table table-striped table-bordered">
    <thead>
    <!-- Cabeçalho da tabela-->
    <tr>
        <!-- Linha da tabela-->
        <th>Numero Mesa</th> <!-- Coluna específica do cabeçalho-->
        <th>Status</th>
        <th>Ação</th>

    </tr>
    </thead>
    <tbody>
    <!-- Lugar dos registros da tabela-->
    @foreach (var mesa in Model)
    {
        <tr>
            <!-- Linha-->
            <td>@mesa.NumeroMesa</td> <!-- Coluna específica para body-->
                @if(mesa.Status == Repositorio.Enums.StatusMesa.Desocupado)
                {
                    <td><span class="badge badge-success">@mesa.Status</span></td>

                }
                else
                {
                    <td><span class="badge badge-danger">@mesa.Status</span></td>
                }

                <td>
                <a class="btn btn-warning" asp-action="editar" asp-route-id="@mesa.Id">
                    <i class="fa-solid ft-edit"></i> Editar
                </a>
                <a class="btn btn-outline-danger" asp-action="apagar" asp-route-id="@mesa.Id">
                    <i class="fa-solid ft-trash"></i> Apagar
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>